body {
	background-color: black;
	color: white;
}

body > * {
	margin: 5px;
}

.row_wrapper {
	margin: 0px;
}

.row {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.row h2 {
	width: calc(100% / 3);
	margin: 5px 0px;
}

.row input[type=text] {
	width: 100%;
	margin: 5px;
}

input[type=text] {
	text-align: center;
}

.hidden {
	display: none;
}

.result {
	margin-top: 50px;
}