body {
	background-color: black;
	color: white;
}

.row_wrapper {
}

.row {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.row h2 {
	width: calc(100% / 3);
}

.extra input {
	width: auto;
	margin: 0px;
}

#share {
	width: auto;
}

#tax_percent, #tip_percent {
	display: none;
}

.result {
	margin-top: 50px;
	margin-left: 8px;
}

h2 {
	margin: 5px 0px;
}

input {
	width: 100%;
	margin: 5px;
	text-align: center;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: black;
}

::-webkit-scrollbar-thumb {
	border-radius: 2.5px;
	background: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.3);
}