body {
	background-color: black;
	color: white;
}

body > * {
	margin: 5px;
}

.row_wrapper {
	margin: 0px;
}

.row {
	display: flex;
}

.row h2,
.row input[type=text] {
	width: 100%;
	margin: 5px;
	text-align: center;
}

.hidden {
	display: none;
}

.result {
	margin-top: 50px;
}